/* body part  */
body{
    font-family: 'Akshar', sans-serif;
    font-size: 18px;
 
    
}
.container{
    margin-bottom: 30px;
    padding: 0px 80px;
}
.img1{
    height: 120px;
    position:absolute;
    top: 570px;
    
}
.img2{
    height: 380px;
    position:absolute;
    top:200px;
    left: 630px;
    
}
.btn{
    width: 120px;
   
}
/* body part  */

/* navbar part  */
.navbar{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;
}
/* navbar part */

/* carousal part  */
.btn-part{
    background-color: black;
}

p{
    font-size: 17px;
    color: rgb(107, 105, 105);
}
.carousel-inner .col2{
    padding: 0 60px;
}
/* carousal part  */

/* phone part  */
.phone-part{
    padding-bottom: 15px;
}
.card{
    background-color: white;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 15px 30px rgb(236, 235, 235);
}
.card-text{
    font-size: 15px;
}
.phone{
    margin-bottom: 15px;
}
.phone h5{
    color: orange;
}
/* phone part  */
/* laptop part  */
.laptop h5{
    color: orange;
}
.laptop-part{
    margin-bottom: 100px;
}

/* laptop part  */